# pipeline.config

model {
  faster_rcnn {
    num_classes: 2  # Anzahl der Klassen in deinem Datensatz
    image_resizer {
      fixed_shape_resizer {
        height: 300
        width: 300
      }
    }
    feature_extractor {
      type: "faster_rcnn_resnet50"  # Verwende ein Modell ohne vortrainierte Gewichte
    }
    # Weitere Modellparameter hier
  }
}

train_config {
  batch_size: 4  # Anzahl der Bilder pro Batch
  num_steps: 5000  # Anzahl der Trainingsschritte
  # Da kein vortrainiertes Modell verwendet wird, lasse fine_tune_checkpoint weg
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
}

train_input_reader {
  label_map_path: "C:\\Users\\thore\\Documents\\GitHub\\ki\\KI-6\\test\\battery_label_map.pbtxt"  # Pfad zur Label-Map
  tf_record_input_reader {
    input_path: "C:\\Users\\thore\\Documents\\GitHub\\ki\\KI-6\\train\\battery_train.tfrecord"  # Pfad zur TFRecord-Datei für das Training
  }
}

eval_config {
  metrics_set: "coco_detection"
  num_examples: 100  # Anzahl der Evaluierungsbeispiele
}

eval_input_reader {
  label_map_path: "C:\\Users\\thore\\Documents\\GitHub\\ki\\KI-6\\test\\battery_label_map.pbtxt"  # Pfad zur Label-Map
  tf_record_input_reader {
    input_path: "C:\\Users\\thore\\Documents\\GitHub\\ki\\KI-6\\valid\\battery_valid.tfrecord"  # Pfad zur TFRecord-Datei für die Evaluierung
  }
}
